!!!
%html
  %head
    %title MaskCorporat
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    / scss読み込み関連
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    / javascript関連
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
